[project]
name = "yet-another-valorant-management-game"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic>=2.12.4",
    "rich>=14.2.0",
    "sqlite-utils>=3.38",
]
